.jumbotron {
    background-color: rgb(8, 138, 161);
    border-bottom: rgb(16, 105, 121) solid 3px;
    border-radius: 0;
    color: snow;
    padding-top: 60px;
    padding-bottom: 60px;
}
.jumbotron h1 {
        font-size: 4em;
}
body {
    font-family: 'Mulish', sans-serif;
    background-color: snow;
}
#about p {
    font-size: large;
    line-height: 2em;
    justify-content: center;
}
.teal {
    color: rgb(16, 105, 121);
}
.port {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    margin: 15px;
}
h2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#scav h2 {
    font-family: 'Bangers', cursive;
}
#coffee h2 {
    font-family: 'Pacifico', cursive;
}
#map h2 {
    font-family: 'Amatic SC', cursive;
}
#burger h2 {
    font-family: 'Fjalla One', sans-serif;
}
#train h2 {
    font-family: 'Roboto', sans-serif;
}
#trivia h2 {
    font-family: 'Audiowide', cursive;
}
.port p {
    position: absolute;
    top: 35%;
    left: 2%;
    width: 310px;
}
#scav p, #map p {
    top: 30%
}
.port:hover {
    background-color: black;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: snow;
    /* opacity: .4; */
}
#portfolio {
    margin-bottom: 20px;
}
.link1, .link2 {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 25px;
}
.link2 {
    bottom: 2px;
}
.link1:hover, .link2:hover {
    opacity: 1;
    background-color: rgb(8, 138, 161);
}
#contact img{
    /* align-content: center; */
    margin: 10%;
}
#portfolio {
    margin-top: 50px;
}
#portfolio a {
    padding: 5px 10px 5px 10px;
    color: black
}
.port:hover img {
    opacity: .4
}
#scav:hover a, #coffee:hover a, #map:hover a, #burger:hover a, #train:hover a, #trivia:hover a {
    border: 2px solid snow;
    color: snow
}
#trivia {
    color: snow;
}
#trivia a {
    border: 2px solid snow;
    color: snow
}
#contact {
    padding: 5px;
    background-color: rgb(8, 138, 161);
    border-top: rgb(16, 105, 121) solid 3px;
}
#contact .links {
    width: 80%;
    margin: auto;
    justify-content: center;
}
#contact:hover a{
    color: rgb(16, 105, 121);
}
#contact a:hover {
    color: snow;
}
#contact a {
    color:  snow;
    font-size: 3em;
    margin-left: 10%;
    margin-right: 10%;
}